.footer {
    margin-top: 180px;

    &__container {
        text-align: center;
    }

    &__logo {
        display: block;
        margin: 0 auto;
        max-width: 130px;
        max-height: 130px;
    }

    &__link-list {
        display: inline-flex;
        text-align: left;
    }

    &__link {
        color: #4980d7;
        text-decoration: none;
        margin: 0 8px;
        transition: color .2s ease-in-out;
        
        &:hover {
            color: lighten(#4980d7, 10%);
        }

    }

    &__text {
        margin-top: 8px;
        color: #7b8faf;
    }
}