.hero {
    font-family: Roboto, sans-serif;
    padding-top: 120px;
    position: relative;
    height: 90vh;

    &::before {
        content: "";
        background: linear-gradient(transparent, transparent, #00050d), url("../../src/images/hero_image.webp") no-repeat center;
        background-size: cover;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.75;
    }

    &__branding-image {
        position: relative;
        max-width: 341px;
    }

    &__text {
        position: relative;
        color: #f9f9f9;
        max-width: 650px;
        margin-bottom: 16px;
        font-size: 18px;
        line-height: 28px;
    }

    &__movie-metadata {
        color: #aaaaaa;
        font-weight: 700;

        &-group {
            display: flex;
            max-width: 240px;     
            justify-content: space-between;
            position: relative;
            margin-bottom: 8px;

            &:last-child {
                max-width: 350px;
            }
        }

        &-info {
            height: 20px;
            border-radius: 4px;
        }
        
        &:nth-child(2) {
            margin: 0 12px;
        }
    }
}