.footer {

    margin-top: 180px;

    @media (max-width: 768px) {
        margin-top: 120px;
    }

    &__container {
        text-align: center;
    }

    &__logo {
        display: block;
        margin: 0 auto 8px auto;
        cursor: pointer;
        height: 50px;
        min-width: 60px;
        background-image: url('../images/logo.png');
    }

    &__link-list {
        display: inline-flex;
        text-align: left;

        @media (max-width: 768px) {
            display: flex;
            justify-content: center;
            flex-flow: row wrap;
        }
    }

    &__link {
        color: #4980d7;
        text-decoration: none;
        margin: 0 8px;
        transition: color .2s ease-in-out;

        @media (max-width: 768px) {
            font-size: 14px;
            line-height: 24px;
            
        }
        
        &:hover {
            color: lighten(#4980d7, 10%);
        }

    }

    &__text, .copyright-symbol {
        margin-top: 8px;
        color: #7b8faf;

        @media (max-width: 768px) {
            font-size: 14px;
            line-height: 24px;
        }
    }
}