.footer {
    margin-top: 180px;

    &__container {
        text-align: center;
    }

    &__logo {
        display: block;
        margin: 0 auto;
        max-width: 130px;
        max-height: 130px;
    }

    &__link-list {
        display: inline-flex;
        text-align: left;

        @media (max-width: 768px) {
            display: block;
            text-align: center;
        }
    }

    &__link {
        color: #4980d7;
        text-decoration: none;
        margin: 0 8px;
        transition: color .2s ease-in-out;

        @media (max-width: 768px) {
            font-size: 14px;
            line-height: 24px;
            display: block;
        }
        
        &:hover {
            color: lighten(#4980d7, 10%);
        }

    }

    &__text {
        margin-top: 8px;
        color: #7b8faf;

        @media (max-width: 768px) {
            font-size: 14px;
            line-height: 24px;
        }
    }
}