@use 'mixins' as *;

.hero {
    font-family: Roboto, sans-serif;
    padding-top: 120px;
    user-select: none;
    height: 100vh;

    * {
        position: relative;
    }

    &__title {
        margin-top: 20px;
        color: #f9f9f9;
        font-weight: 500;
        letter-spacing: 1px;
        margin-bottom: 16px;
    }

    &__background {
        background: linear-gradient(transparent, transparent, #00050d), url("../images/hero-background-image.jpg") no-repeat center;
        background-size: 100vw;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0.75;

        @media (max-width: 768px) {
            width: 100vw;
            height: 211px;
            opacity: 0.55;
        }
    }

    &__button {
        @include button;
    }

    &__buttons-group {
        margin-top: 24px;
        display: flex;
        max-width: 350px;
        justify-content: space-between;

        @media (max-width: 768px) {
            display: block;
        }
    }

    &__branding-image {
        max-width: 341px;

        @media (max-width: 768px) {
            padding-top: 40px;
            width: 35vw;
        }
    }

    &__text {
        color: #f9f9f9;
        max-width: 650px;
        margin-bottom: 16px;
        font-size: 18px;
        line-height: 28px;
    }

    &__movie-metadata {
        color: #aaaaaa;
        font-weight: 700;

        &-group {
            max-width: 240px;
            margin-bottom: 8px;

            &:first-child {
                display: flex;
            }

            &:last-child {
                max-width: 350px;
            }
        }

        &-info {
            height: 20px;
            border-radius: 4px;
            display: inline-block;
            margin: 0 5px 6px 4px;
        }
        
        &:nth-child(2) {
            margin: 0 12px;
        }
    }
}