@use 'mixins' as *;

.hero {
    padding-top: 100px;
    font-family: Roboto, sans-serif;
    user-select: none;

    * {
        position: relative;
    }

    &__title {
        color: #f9f9f9;
        font-weight: 500;
        letter-spacing: 2px;
        margin: 16px 0;
    }

    &__background {

        *, &-container {
            z-index: -2;
        }
        
        &-container {
            position: fixed;
            top: -20px;
            left: 0;
            aspect-ratio: 16/9;
            width: 100vw;
            height: auto;
        }

        max-width: 100vw;
        position: fixed;
        top: -20px;
        bottom: 0;
        opacity: 0.75;

        @media (max-width: 768px) {
            top: -30px;
        }
    }

    &__fade {
        background: linear-gradient(0deg,#00050d,rgba(0,5,13,0) 33.42%);
        height: calc(100% + 1px);
        left: 0;
    }

    &__button {
        @include button;

        &:first-child {
            max-width: 150px;
            max-height: 50px;
            width: 100%;
            height: 100%;
        }

        &:last-child {
            max-width: 190px;
            max-height: 50px;
            width: 100%;
            height: 100%;
        }
    }

    &__buttons-group {
        margin-top: 24px;
        display: flex;
        max-width: 350px;
        height: 50px;
        justify-content: space-between;

        @media (max-width: 768px) {
            display: block;
        }
    }

    &__branding {
        &, & > * {
            margin-top: -32px;
        }

        &-image {
            background-image: url('../images/logo.webp');
            aspect-ratio: 16/9;
            background-size: contain;
            width: 25vw;

            &:lang(en) {
                background-image: url('../images/logo-en.webp');
            }

            @media (max-width: 768px) {
                width: 50vw;
            }
        }

    }

    &__text {
        color: #f9f9f9;
        max-width: 650px;
        margin-bottom: 16px;
        font-size: 18px;
        line-height: 28px;
    }

    &__movie-metadata {
        color: #aaaaaa;
        font-weight: 700;

        &-group {
            max-width: 240px;
            margin-bottom: 8px;

            &:first-child {
                display: flex;
            }

            &:last-child {
                max-width: 350px;
            }
        }

        &-info {
            height: 20px;
            border-radius: 4px;
            display: inline-block;
            margin: 0 5px 6px 4px;
        }
        
        &:nth-child(2) {
            margin: 0 12px;
        }
    }
}