@use 'mixins' as *;

.tab-navegation {
    display: flex;
    justify-content: center;

    &-button {
        cursor: pointer;
        font: inherit;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 700;
        color: #f9f9f9;
        background: none;
        border: none;
        letter-spacing: 1px;
        margin: 0 1vw;
        padding-bottom: 5px;
        border-bottom: 5px solid transparent;

        @media (max-width: 768px) {
            margin: 0 3vw;
        }

        &--is-active {
            border-color: #f9f9f9;
        }
    }

}

.tabs {
    padding-top: 150px;
    font-family: Roboto, sans-serif;

    @media (max-width: 768px) {
        padding-top: 110px;
    }
}

[data-tab-id="related"] {
    .tab {
        @include tab-config();
    
        &-content {
            margin-top: 20px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 24px;

            @media (max-width: 768px) {
                grid-template-columns: 1fr 1fr;
                gap: 12px;
            }
    
            &__movie, &__movie-image {
                max-width: 100%;
                max-height: 100%;
            }
    
            &__movie-image {
                border-radius: 4px;
            }
    
            &__movie-link {
                display: block;
                font-size: 0;
            }
        }
    }
}


[data-tab-id="details"] {
    .tab {
        @include tab-config();

        font-size: 18px;
        line-height: 28px;
        color: #f9f9f9;

        &-content, &__movie-details {
            display: grid;
            grid-template-columns: 1fr 1fr;

            @media (max-width: 768px) {
                display: block;
            }
        }

        &-content {
            gap: 24px;
        }

        &__movie-details {
            &-cast {
                @media (min-width: 768px) {
                    margin-left: 16px;
                }
            }
            &-overview {
                @media (max-width: 768px) {
                    margin-top: 24px;
                }
            }
        }

        &__info {

            &-group {
                font-size: 14px;
                line-height: 21px;
                margin-bottom: 10px;
            }

            &-name {
                color: #aaaaaa;
                margin-bottom: 1px;
            }

            &-image {
                width: 20px;
                height: 20px;
                border-radius: 4px;
            }
        }
    }
}
