@use 'header';
@use 'hero';
@use 'tabs';
@use 'footer';

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.background {
    transition: background-color .3s ease;
    z-index: -1;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 5, 13, .1);
}

ul {
    list-style: none;
}

body {
    background-color: #00050d;
    padding-bottom: 30px;
    font-family: Roboto, sans-serif;
}

section {
    padding: 0 calc(3.5vw + 24px);
}
